header{
    padding-top: 15px;
}
.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    left: -100%;
    top: 63px;
    position: fixed;
    height: calc(100vh - 63px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 30px;

    &-visible {
        left: 0;
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0.9); 
        z-index: 3;
    }

    &_item {
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        line-height: 34px;
        margin: 10px 0;

        &:hover {
            border-color: #007bff;
        }

        a {
            text-decoration: none;
        }

        @media (mIN-width: $breakpoint-md) {
            line-height: 18px;
            margin: 0 0 0 15px;
        }
    }

    @media (min-width: $breakpoint-md) {
       position: initial;
       height: unset;
       flex-direction: row;
       font-size: inherit;
    }
}
.menu-button {
    color: $button-hover;
    display: block;
    font-size: 25px;

    &-active {
        transition: 0.4s;
        transform: rotate(180deg);
    }

    @media (min-width: $breakpoint-md) {
        display: none;
    }
}
