.hero-wrapper {
    background: linear-gradient(0deg, #eaf3fa 8.84%, rgba(152, 195, 232, 0) 31.12%);
    min-height: calc(100vh - 63px);
    color: $primary-color;
    padding: 10px 0;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;

    &__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        max-width: 60%;
    }

    &__description {
        font-weight: 400;
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 71px;

        @media (min-width: $breakpoint-md) {
            max-width: 425px;
        }
    }

    h1 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 32px;
        font-weight: 700;

        @media (min-width: $breakpoint-md) {
            font-size: 64px;
            line-height: 74px;
            letter-spacing: 0.04em;
        }
    }

    @media (min-width: $breakpoint-md) {
        text-align: left;
    }
}
